<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<test name="Login with Email">
		<classes>
			<class name="Chull.TestCase">
				<methods>
					<include name="loginWithMailTest" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="Login with Wrong OTP">
		<classes>
			<class name="Chull.TestCase">
				<methods>
					<include name="loginWithPhoneNumber" />
				</methods>
			</class>
		</classes>
	</test>

	<test name="Verify Current URL">
		<classes>
			<class name="Chull.TestCase">
				<methods>
					<include name="verifyCurrentUrlTest" />
				</methods>
			</class>
		</classes>
	</test>

	<test name="Update Profile">
		<classes>
			<class name="Chull.TestCase">
				<methods>
					<include name="updateProfileTest" />
				</methods>
			</class>
		</classes>
	</test>

	<test name="Search Box Functionality">
		<classes>
			<class name="Chull.TestCase">
				<methods>
					<include name="searchVideoTest" />
				</methods>
			</class>
		</classes>
	</test>

	<test name="Login with Incorrect OTP">
		<classes>
			<class name="Chull.TestCase">
				<methods>
					<include name="wrongOtpLoginTest" />
				</methods>
			</class>
		</classes>
	</test>

	<test name="Play Video">
		<classes>
			<class name="Chull.TestCase">
				<methods>
					<include name="playVideoTest" />
				</methods>
			</class>
		</classes>
	</test>

	<test name="Footer Terms Conditions">
		<classes>
			<class name="Chull.TestCase">
				<methods>
					<include name="footerTermsAndConditionsTest" />
				</methods>
			</class>
		</classes>
	</test>

	<test name="Logout Functionality">
		<classes>
			<class name="Chull.TestCase">
				<methods>
					<include name="logoutTest" />
				</methods>
			</class>
		</classes>
	</test>

	<test name="Filter Button Check">
		<classes>
			<class name="Chull.TestCase">
				<methods>
					<include name="filterValuesTest" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="check on view All button is workable">
		<classes>
			<class name="Chull.TestCase">
				<methods>
					<include name="viewAllTest" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="Check reltead video play or not">
		<classes>
			<class name="Chull.TestCase">
				<methods>
					<include name="checkRelatedvideo" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="Verify Banner is visible or not">
		<classes>
			<class name="Chull.TestCase">
				<methods>
					<include name="Banner_is_visible" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="Verify subscription button is visible or not">
		<classes>
			<class name="Chull.TestCase">
				<methods>
					<include name="subscription" />
				</methods>
			</class>
		</classes>
	</test>
	<!--<test name="Verify subscription button is visible or not">
	<classes>
		<class name="Chull.TestCase">
			<methods>
				<include name="subscription" />
			</methods>
		</class>
	</classes>
	</test>-->
	<test name="verify Without login suscription Button is visible or not">
		<classes>
			<class name="Chull.TestCase">
				<methods>
					<include name="withoutLoginSubscriptionButtonisVisible" />
				</methods>
			</class>
		</classes>
	</test>

</suite>
